.candidates-div-header button {
    padding: 15px 20px;
    margin-left: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.candidates-div-header button:hover {
    background-color: #014292;
}


.candidates-div-header button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}