.layout-main-center-div {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 300px;
    padding: 30px 50px;
    border: 1px solid #ccc;
    background-color: #E3F2FD;
    gap: 20px;
}


.settings button {
    padding: 12px 24px;
    font-size: 1.1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.settings button:hover {
    background-color: #014292;
}