* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.bodies{
  height: 50%;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;

}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links ul  {
  list-style: none;
  display: flex;
  gap: 30px;
};

.navbar-links ul li {
  padding: 100px;
};


.navbar-links ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  background-color: #ccc;

}

.navbar-links ul li a:hover {
  color: #1abc9c;
}

.main-content {
  background-color: #ecf0f1;
  padding: 30px;
  min-height: calc(100vh - 70px);
}

.dashboard-header h1 {
  margin-bottom: 20px;
  color: #000000;
}

.partylists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

}

.partylist-card {
  background-color: rgb(104, 121, 136);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 100%;
}

.partylist-card h2 {
  margin-bottom: 15px;
  color: #ebebeb;
  text-align: center;

}

.member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.member:last-child {
  border-bottom: none;
}

.member span {
  color: #f6f8fa;
  font-size: 0.95rem;
}

.member select {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.85rem;
  width: 60%;
  outline: none;
  background-color: #fff;
  color: #2c3e50;
  transition: border 0.3s;
}

.member select:focus {
  border-color: #62acd6;
}

.submit-container {
  text-align: center;
  margin-top: 20px;
}

.submit-btn {
  padding: 8px 18px;
  background-color: #62acd6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-btn:hover {
  background-color: #16a085;
}

.partylist-card form {
  display: flex;
  background: gray;
  flex-direction: column;
  gap: 10px;
}



