.voting {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 8px;
}


.voting h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}


.voting form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.voting form div {
    display: flex;
    flex-direction: column;
}


.voting label {
    font-size: 1.1rem;
    color: #222;
}


.voting select {
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    cursor: pointer;
    background-color: white;
}


.voting select:focus {
    border-color: #007bff;
    outline: none;
}


.voting-submit {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.voting-submit button {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.voting-submit button:hover {
    background-color: #0056be;
}


.voting-submit button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.confirmation-modal-div {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}


.confirmation-modal-div-close {
    position: absolute;
    top: 2px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}


.confirmation-modal-div-close:hover {
    color: #ff3333;
}


.confirmation-modal-div-copy {
    padding: 8px 16px;
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.confirmation-modal-div-copy:hover {
    background-color: #0056be;
}


.confirmation-modal-div-copy:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}