
.layout-main-center-div {
    width: 100%;
}


.elections-footer {
    width: 100%;
}


.elections {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}


.elections p {
    text-align: center;
    font-size: 1.1rem;
    color: #999;
    margin-top: 40px;
}

.elections-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}


.election-item {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}


.election-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.election-item-time {
    font-size: 0.85em;
    color: #007bff;
    margin-top: 5px;
}


.election-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}


.election-item:first-child {
    border-radius: 10px 10px 0 0;
}


.election-item:last-child {
    border-radius: 0 0 10px 10px;
}


.election-item:hover {
    background-color: #9ecaff;
}


.election-item-name {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
}


.election-item-status {
    font-size: 0.9em;
    color: #555;
    white-space: nowrap;
}


.election-item-status.draft {
    color: grey;
}


.election-item-status.scheduled {
    color: orange;
}


.election-item-status.open {
    color: green;
}


.election-item-status.closed {
    color: red;
}


.elections-button-add {
    position: absolute;
    bottom: 80px;
    right: 20px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.elections-button-add:hover {
    background-color: #014292;
}


.elections-add-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.elections-add-modal-form {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}


.elections-add-modal-form-close {
    position: absolute;
    top: 2px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}


.elections-add-modal-form-close:hover {
    color: #ff3333;
}


.elections-add-modal-form-input-box {
    margin-bottom: 15px;
}


.elections-add-modal-form-input-box input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    transition: border-color 0.3s ease;
}


.elections-add-modal-form-input-box input:focus {
    border-color: #0056be;
    outline: none;
}


.elections-add-modal-form-submit button {
    padding: 12px 24px;
    font-size: 1.1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.elections-add-modal-form-submit button:hover {
    background-color: #0056be;
}


.elections-add-modal-form-submit button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}



.elections-message-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}


.elections-message-modal-div {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.elections-message-modal-div p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
}


.elections-message-modal-div button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}


.elections-message-modal-div button:hover {
    background-color: #0056be;
}


.elections-selected-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.elections-selected-modal-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.elections-selected-modal-form-close {
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.elections-selected-modal-form-close:hover {
    background-color: #0056be;
}


.selected-election-div-info {
    margin-bottom: 20px;
}


.selected-election-div-info h1 {
    margin: 5px;
}


.status {
    font-weight: bold;
}


.status.draft {
    color: grey;
}


.status.scheduled {
    color: orange;
}


.status.open {
    color: green;
}


.status.closed {
    color: red;
}


.selected-election-div-candidates {
    width: 90%;
    padding: 0;
    margin: 0;
}


.selected-election-div-candidates button {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.selected-election-div-candidates button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.selected-election-div-schedule {
    width: 90%;
    padding: 0;
    margin: 0;
}


.selected-election-div-schedule button {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.selected-election-div-schedule button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.selected-election-candidates-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.selected-election-candidates-modal-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.selected-election-candidates-modal-form h2 {
    margin-bottom: 20px;
}


.selected-election-div-candidates-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    width: 100%;
}


.selected-election-div-candidates-button button {
    width: 100%;
}


.selected-election-candidates-modal-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}


.selected-election-candidates-modal-form button {
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.selected-election-candidates-modal-form-back {
    margin-top: 25px;
}


.selected-election-time-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.selected-election-time-modal-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.selected-election-time-modal-form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}


.selected-election-time-modal-form-buttons button {
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.selected-election-div-time input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    transition: border-color 0.3s ease;
}


.selected-election-div-time input:focus {
    border-color: #0056be;
    outline: none;
}