.layout-main-center-div {
    max-width: 500px;
}


.registration-form {
    max-width: 500px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.registration-form-input-box {
    margin-bottom: 15px;
}


.registration-form-input-box label {
    display: block;
    text-align: center;
    margin-bottom: 8px;
}


.registration-form-input-box input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    transition: border-color 0.3s ease;
}


.registration-form-input-box input:focus {
    border-color: #0056be;
    outline: none;
}


.registration-form-submit {
    display: flex;
    justify-content: center;
}


.registration-form-submit button {
    padding: 12px 24px;
    font-size: 1.1rem;
    background-color: #0056be;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.registration-form-submit button:hover {
    background-color: #004aa3;
}


.registration-form-submit button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}